<div class="h-100 d-flex flex-column justify-content-center">

  <div *ngIf="!isMobile" class="card m-auto" [class.card-evil]="!isKind" [class.card-kind]="isKind">
    <div *ngIf="loading" class="cover">
      <div class="spinner-grow text-success col ml-auto mr-auto" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <!-- Header -->
    <div class="card-header text-center">
      <h4 class="card-title">{{title}}<span class="ml-3"> Say "Please" for that</span></h4>
    </div>
    <!-- Body -->
    <div class="card-body d-flex flex-column justify-content-between">

      <div class="row">

        <div class="col-9">
          <!-- ID -->
          <div class="row form-group">
            <label class="col-3 col-form-label-lg">ID:</label>
            <input readonly type="text" aria-label="ID" class="form-control-lg col-9" [(ngModel)]="id">
            <button *ngIf="id" type="button" class="btn btn-outline-info btn-lg copy-button" (click)="copyToClipboard('id',id)"><i class="fas fa-copy"></i></button>
          </div>
          <!-- First Name -->
          <div class="row form-group">
            <label class="col-3 col-form-label-lg">First Name:</label>
            <input readonly type="text" aria-label="First name" class="form-control-lg col-9" [(ngModel)]="firstName">
            <button *ngIf="firstName" type="button" class="btn btn-outline-info btn-lg copy-button" (click)="copyToClipboard('First Name',firstName)"><i class="fas fa-copy"></i></button>
          </div>
          <!-- Last Name -->
          <div class="row form-group">
            <label class="col-3 col-form-label-lg">Last Name:</label>
            <input readonly type="text" aria-label="Last name" class="form-control-lg col-9" [(ngModel)]="lastName">
            <button *ngIf="lastName" type="button" class="btn btn-outline-info btn-lg copy-button" (click)="copyToClipboard('Last Name',lastName)"><i class="fas fa-copy"></i></button>
          </div>
          <!-- Email -->
          <div class="row form-group">
            <label class="col-3 col-form-label-lg">Email:</label>
            <input readonly type="email" aria-label="Email" class="form-control-lg col-9" [(ngModel)]="email">
            <button *ngIf="email" type="button" class="btn btn-outline-info btn-lg copy-button" (click)="copyToClipboard('Email',email)"><i class="fas fa-copy"></i></button>
          </div>
          <!-- Phone -->
          <div class="row form-group">
            <label class="col-3 col-form-label-lg">Phone:</label>
            <input readonly type="text" aria-label="Phone" class="form-control-lg col-9" [(ngModel)]="phone">
            <button *ngIf="phone" type="button" class="btn btn-outline-info btn-lg copy-button" (click)="copyToClipboard('Phone',phone)"><i class="fas fa-copy"></i></button>
          </div>
          <!-- Birthday -->
          <div class="row form-group mb-0">
            <label class="col-3 col-form-label-lg">Birthday:</label>
            <div class="col-9">
              <div class="row">
                <div class="col-4 text-center">
                  <input readonly type="text" aria-label="Day" class="form-control-lg col-9" [(ngModel)]="birthdayDay">
                </div>
                <div class="col-4 text-center">
                  <input readonly type="text" aria-label="Month" class="form-control-lg col-9" [(ngModel)]="birthdayMonth">
                </div>
                <div class="col-4 text-center">
                  <input readonly type="text" aria-label="Year" class="form-control-lg col-9" [(ngModel)]="birthdayYear">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-3 text-center">
          <img [src]="imageSrc" alt="Image" id="userImage">
        </div>
      </div>

    </div>

    <div class="card-footer ">
      <button type="button " class="btn get-data-btn btn-outline-success btn-lg btn-block " (click)="generateData() ">Say "Please"</button>
    </div>
  </div>

  <!-- Mobile  -->
  <div *ngIf="isMobile" class="card" [class.card-evil]="!isKind" [class.card-kind]="isKind">

    <div *ngIf="loading" class="cover">
      <div class="spinner-grow text-success col ml-auto mr-auto" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <!-- Header -->
    <div class="card-header row ">

      <div class="card-title col-8">{{title}}Say "Please" for that
      </div>
      <img [src]="imageSrc" class="col-4" alt="Image" id="userImage">
    </div>
    <!-- Body -->
    <div class="card-body d-flex flex-column justify-content-between">


      <!-- ID -->
      <div class="form-group">
        <label class="form-label" for="idInput">ID:</label>
        <input readonly id="idInput" type="text" class="form-control-lg w-100" [(ngModel)]="id" (click)="copyToClipboard('id',id)">
      </div>
      <!-- First Name -->
      <div class="form-group ml-auto mr-auto">
        <label class="form-label-lg">First Name:</label>
        <input readonly type="text" class="form-control-lg w-100" [(ngModel)]="firstName" (click)="copyToClipboard('First Name',firstName)">
      </div>
      <!-- Last Name -->
      <div class="form-group">
        <label class="form-label-lg">Last Name:</label>
        <input readonly type="text" class="form-control-lg w-100" [(ngModel)]="lastName" (click)="copyToClipboard('Last Name',lastName)">
      </div>
      <!-- Email -->
      <div class="form-group">
        <label class="form-label-lg">Email:</label>
        <input readonly type="email" aria-label="Email" class="form-control-lg w-100" [(ngModel)]="email" (click)="copyToClipboard('Email',email)">
      </div>
      <!-- Phone -->
      <div class="form-group">
        <label class="form-label-lg">Phone:</label>
        <input readonly type="text" aria-label="Phone" class="form-control-lg w-100" [(ngModel)]="phone" (click)="copyToClipboard('Phone',phone)">
        <button *ngIf="phone" type="button" class="btn btn-outline-info btn-lg copy-button" (click)="copyToClipboard('Phone',phone)"><i class="fas fa-copy"></i></button>
      </div>
      <!-- Birthday -->
      <div class="form-group mb-0">
        <label class="col-form-label-lg">Birthday:</label>
        <div class="row">
          <div class="col-4 text-center m-0 p-0">
            <input readonly type="text" aria-label="Day" class="form-control-lg col-9" [(ngModel)]="birthdayDay">
          </div>
          <div class="col-4 text-center m-0 p-0">
            <input readonly type="text" aria-label="Month" class="form-control-lg col-9" [(ngModel)]="birthdayMonth">
          </div>
          <div class="col-4 text-center m-0 p-0">
            <input readonly type="text" aria-label="Year" class="form-control-lg col-9" [(ngModel)]="birthdayYear">
          </div>
        </div>


      </div>

    </div>

    <div class="card-footer ">
      <button type="button " class="btn get-data-btn btn-outline-success btn-lg btn-block " (click)="generateData() ">Say "Please"</button>
    </div>
  </div>

  <div id="toast" data-delay="2000" class="toast bg-info d-flex align-items-center" role="alert">
    <div class="toast-body">
      {{toastMsg}}
    </div>
  </div>

</div>

